*.o
*.a
*.elf
*.img
*.lst
*.map
*.swp
*.d
*~
pico1541/lib
pico1541/pico-sdk
src/version.h
.vscode/settings.json
src/webcontent/converttool
src/webcontent/pi1541-logo.h
src/webcontent/index.h
src/webcontent/style.h
src/webserver-SAVE.cpp
src/webcontent/config.h
src/webcontent/edit-config.h
pi3-sample
src/webcontent/edit-config.h
make-*.log
src/webcontent/manage-imgs.h
src/webcontent/C64_Pro_Mono-STYLE.h
