<div class="box">
    <h2 class="subtitle is-3">Disk Operations</h2>

    <div class="columns">
        <div class="column">
            <div class="buttons">
                <button class="button is-success is-fullwidth mb-2">
                    <span class="icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span>Upload File</span>
                </button>
                <button class="button is-info is-fullwidth mb-2">
                    <span class="icon">
                        <i class="fas fa-download"></i>
                    </span>
                    <span>Download Selected</span>
                </button>
                <button class="button is-warning is-fullwidth mb-2">
                    <span class="icon">
                        <i class="fas fa-copy"></i>
                    </span>
                    <span>Copy Files</span>
                </button>
            </div>
        </div>
        <div class="column">
            <div class="buttons">
                <button class="button is-danger is-fullwidth mb-2">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>Delete Selected</span>
                </button>
                <button class="button is-link is-fullwidth mb-2">
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span>Rename</span>
                </button>
                <button
                    class="button is-primary is-fullwidth mb-2"
                >
                    <span class="icon">
                        <i class="fas fa-hdd"></i>
                    </span>
                    <span>Format Disk</span>
                </button>
            </div>
        </div>
    </div>
</div>
